body{
    font-family: 'Poppins', sans-serif;
}

.hero{
    display: flex;
    align-items: center;

    flex-direction: column;

    min-height: 520px;
    width: 100%;

    background-image: url("../images/ravenous-restaurant-img.jpg");
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: -16px 50px;
}
    .titleContainer{
        width: 100%;
        height: 56px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #cfa44e;
    }
        .title{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: white;
        }
        
    .filterContainer{
        margin-top: 120px;
        max-width: 600px;
        width: 100%;
        gap: 0px;
        display: flex;
        justify-content: space-between;
        
    }

        .filterBtn{

            background: none;
            border: none;
            cursor: pointer;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            flex-direction: column;

            color: white;

            margin-bottom: 32px;
            border-bottom: solid 1px white;

        }

            .filterBtn:hover {
                opacity: 0.7;
                transition: opacity 0.2s ease;
            }
            .filterActive {
                opacity: 0.7;
                color: #F0C36C;
                border-bottom: solid 1px #F0C36C;
                transition: opacity 0.2s ease;
            }

            .filterTitle{
                font-family: 'Work Sans', sans-serif;
                font-size: 15px;
                
                text-align: center;
                white-space: normal;
                word-break: break-word;

                color: inherit;
                width: 80px;

                margin-bottom: 10px;

                
            }

    .hr{
        border: none;
        border-top: solid 1px white;

        width: 552px;
        margin-top: -8px;
        margin-bottom: 40px;
    }
    .searchContainer{
        display: flex;
        gap: 40px;

        margin-bottom: 40px;
    }
        .searchBtn{
            width: 400px;
            height: 40px;

            border: none;
            border-radius: 4px;
            padding-left: 16px;

            outline: none;
        }
    .letsGoBtn{
        margin-bottom: 96px;
        width: 136px;
        height: 48px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #C39948;
        color: white;
        border: none;
        border-radius: 4px;

        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;

        transform: scale(1);

        cursor: pointer;
    }
        .letsGoBtnActive{
            background-color: #8d723b;

            width: 134px;
            height: 46px;

            font-family: 'Work Sans', sans-serif;
            font-size: 16px;
            font-weight: bold;

            transform: scale(0.97);

        }
        .letsGoText{
            font-size: large;
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;

        }